<h1>Hello!</h1>


<p>
	<% paragraph_1 = "Lorem ipsum odor amet, consectetuer adipiscing elit. Velit nostra diam hendrerit torquent suspendisse ex. Tellus lobortis dapibus varius potenti adipiscing himenaeos nisi sed. Dictumst nec imperdiet dignissim fermentum sociosqu sed orci blandit. Vitae nibh augue finibus nostra litora turpis mauris. Vel duis nibh elementum ornare ex." %>
	<% paragraph_2 = "Cubilia auctor massa inceptos enim quam imperdiet erat aliquet. Aptent magnis nascetur faucibus fames hendrerit tellus gravida tortor tincidunt? Platea est lectus egestas tellus parturient, fames interdum bibendum leo. Leo auctor proin non tempor ridiculus interdum! Rutrum amet adipiscing diam; suspendisse purus aenean ullamcorper non aliquam. Efficitur a penatibus laoreet cras quam metus urna. Massa pulvinar suspendisse ipsum sit purus. Vehicula habitant consequat purus aenean phasellus vitae et aptent. Nascetur inceptos a mattis; elit nulla morbi. Auctor dui dui fames ac dis iaculis tincidunt." %>

	<%= paragraph_1 + "\n" + paragraph_2 %>
as
</p>


